<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1"
	metadata-complete="true">

	<!-- User Registration Servlet -->
	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>UserRegistrationServlet</servlet-class>
	</servlet>
	<!-- User Registration Servlet Mapping-->
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/regUserDetails</url-pattern>
	</servlet-mapping>

	<!-- User Login Servlet -->
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>UserLoginServlet</servlet-class>
	</servlet>
	<!-- User Login Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/loginUserDetails</url-pattern>
	</servlet-mapping>

	<!-- Loyalty Points Servlet -->
	<servlet>
		<servlet-name>LoyaltyPoints</servlet-name>
		<servlet-class>LoyaltyPointsServlet</servlet-class>
	</servlet>
	<!-- Loyalty Points Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>LoyaltyPoints</servlet-name>
		<url-pattern>/loyaltyPointsAction</url-pattern>
	</servlet-mapping>

	<!-- Add Points Action Servlet -->
	<servlet>
		<servlet-name>AddPointsAction</servlet-name>
		<servlet-class>AddPointsActionServlet</servlet-class>
	</servlet>
	<!-- Add Points Action Mapping -->
	<servlet-mapping>
		<servlet-name>AddPointsAction</servlet-name>
		<url-pattern>/addPointsDetails</url-pattern>
	</servlet-mapping>

	<!-- Spend Points Action Servlet -->
	<servlet>
		<servlet-name>SpendPointsAction</servlet-name>
		<servlet-class>SpendPointsActionServlet</servlet-class>
	</servlet>
	<!-- Spend Points Action Mapping -->
	<servlet-mapping>
		<servlet-name>SpendPointsAction</servlet-name>
		<url-pattern>/spendPointsDetails</url-pattern>
	</servlet-mapping>


</web-app>